.basket {
    position: relative;
    display:inline;
}

.basket-block {
    z-index: 2;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.del-btn {
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}
.product-single-price{
    color: #474747;
    font-size: 0.5em;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    max-width: 150px;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}
.right-block{
    text-align: right;
}