.board__women-collection{
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}
.board__collection{
    text-align: center;
}

.board__women-collection_title{
    font-family: Lato;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
}

.board__women-collection_desc{
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.board__women-collection_price{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.board__hr{
    margin-right: 250px;
    margin-left: 250px;
}

.board__menu{
    align-items: center;
    display: flex;
    width: 373px;
}