.brand {
  display: flex;
  margin: 0 0 63px;
  position: relative;

  &__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: $pink-bkg;
    flex-grow: 1;
    
  }

  &__title {
    color:$black;
    text-transform: uppercase;  
  }

  &__title-wrp::before{
    content: '';
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    margin-right: 15px;
  }

  &__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
  }

  &__sub-title-pink {
    color: var($pink-text);
  }
}

.brand__overlay{
  display: none;
}

.brand:hover .brand__overlay{
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(97, 91, 92, 0.2), rgba(97, 91, 92, 0.2)), rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.brand:hover .sidebar{
  display: block;
}

.main-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.secondary-title {
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.fashion {
  color: #f16d7f;
}

@media (max-width:$tablet-width){

  .brand{
    margin-bottom: 20px;
    &__img{
      width: 50%;
      height: 50%;
    }

    &__title-wrp{
      padding-left: 68px;
    }
  }

  
  .main-title{
    font-size: 44px;
    line-height: 53px;
    letter-spacing: 0em;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);  
  }

  .secondary-title{
    font-size: 24px;
    line-height: 28px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);  
  }
}

@media (max-width:$phone-width){
  .brand__img{
    display: none;
  }

  .brand__title{
    margin-top: 148px;
    margin-bottom: 148px;
  }

  .main-title{
    font-family: Lato;
    font-size: 38px;
    font-weight: 900;
    line-height: 46px;
  }

  .secondary-title{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .brand__title-wrp::before{
    content: '';
    width: 12px;
    height: 61px;
    background-color: #F16D7F;
    margin-right: 15px;
  }
}


