.carousel__img{
    object-fit: contain;
}

.carousel__back{
    background-color: #F7F7F7;
}

.carousel{
    background-color: #F7F7F7;
}

.carousel__font{
    font-size: 21px;
    color: #000000;
    background-color: #D8D8D8;
    padding: 12px 17px;
}

.carousel__font_pink{
    color: #F16D7F;
}

