
.catalog__container{
  width: 1140px;
  margin:  0 auto;
}

@media (max-width: $tablet-width) {
  .header__container {
    width: 92%;
  }

  .sales__container {
    width: 96%;
  }

  .products__container {
    width: 100%;
  }

  .subscription__container {
    align-items: center;
  }

  .footer__container {
    width: 92%;
  }

  .register__container {
    width: 96%;
  }

  .cart__container {
    width: 1140px;
  }

  .shopping__container {
    width: 100%;
  }

  .board__container{
    width: 100%;
  }

  .showcase__container{
    min-width: 100%;
  }

  .catalog__container{
    width: 96%;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .header__container {
    width: 95%;
  }

  .sales__container {
    width: 95%;
  }

}
