.showcase{
  padding: 0px;
  &__list{
    padding-left: 0px;
    margin-top: 128px;
    margin-bottom: 128px;
  }

  &__item {
    background-color: $grey-bkg;
    position: relative;

    &:hover{
      opacity: 0.5;
    }
  }
  
  &__item-title {
    margin-top: 25px;
    font-size: 13px;
    line-height: 16px;
    padding-left: 16px;
    color: $black;
  }
  
  &__item-desc {
    margin-top: 12px;
    padding-left: 16px;
    font-weight: 300;
    width: 315px;
    color: #5d5d5d;
  }
  
  &__item-price {
    margin-top: 18px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    padding-bottom: 20px;
  }
}


@media(max-width:$tablet-width){
  .showcase__list{
    flex-direction: row-reverse;
  }

  .none_third-item{
    display: none;
  }

  .showcase__list{
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width:$phone-width){
  .showcase__list{
    flex-direction: column;
    padding-right: 9px;
    padding-left: 9px;
  }

  .none_third-item{
    display: block;
  }

  .none_first-item{
    display: none;
  }
}

@media(max-width:747px){
  .showcase__list{
    flex-direction: column;
  }

  .showcase__image{
    width: 100%;
  }
}

@media (max-width:$phone-width){
  .showcase__image{
    width: 100%;
  }

}
