.stuff__cart {
  display: flex;
  flex-direction: row;
  &_-2 {
    margin-top: 40px;
  }
}

.shadow {
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.stuff__button {
  display: flex;
  margin-top: 72px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 128px;
  &-button {
    border: 1px solid #a4a4a4;
    background: #ffffff;
    padding-top: 16px;
    padding-left: 39px;
    padding-right: 41px;
    padding-bottom: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
  }
}

.stuff__cart-text {
  background-color: #ffffff;
  height: 306px;
}

.cart-text-title {
  height: 58px;
  width: 262px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 42px;
  margin-right: 100px;
}

.cart-container {
  margin-left: 31px;
  margin-top: 28px;
  position: relative;
}

.cart-cross {
  position: absolute;
  top: 5px;
  right: 22px;
}

.cart-text-desc {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart-pink {
  color: #f16d7f;
}

.cart-number {
  border: 1px solid #eaeaea;
  padding: 0px 16px 0 16px;
  margin-left: 25px;
}

.stuff__button-button{
  transition-duration:0.7s;
}

.stuff__button-button:hover{
  background-color: #000;
  color: #fff;
}

@media (max-width: $tablet-width) {
  .stuff {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .stuff__cart-text {
    width: 472px;
  }

  .stuff__button {
    justify-content: space-around;
  }
}

@media (max-width: 691px) {
  .cart-container {
    margin-top: 17px;
    margin-left: 13px;
  }

  .stuff__button {
    margin-top: 62px;
    margin-bottom: 72px;
  }

  .cart-text-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 143px;
    margin-bottom: 0px;
  }

  .stuff__cart-text {
    width: 92%;
    height: 195px;
    margin-right: 8px;
  }

  .cart-text-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .cart-image {
    width: 100%;
    height: 100%;
    margin-left: 8px;
  }

  .stuff__button {
    margin-top: 30px;
    margin-bottom: 64px;
  }
}

@media(min-width:425px) and (max-width:691px){
  .cart-image {
    width: 100%;
    height: 90%;
    margin-left: 8px;
  }

}

@media (max-width: $phone-width) {
  .stuff__button-button{
    text-transform: none;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
}
