.subscription {
    background-size: contain;
    background:url(../../img/sub-back.png) rgba(244, 244, 244, 0.7);
  }
  
  .subscription__list {
    display: flex;
    justify-content: space-between;
  }
  
  .subscription__quote {
    padding-top: 97px;
  }
  
  .subscription__sub {
    padding-top: 150px;
  }
  
  .subscription__sub-head {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .subscription__sub-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  
  .subscription__quote {
    text-align: center;
    width: 360px;
    height: 214px;
    margin-bottom: 126px;
  }
  
  .subscription__quote-image {
    margin-bottom: 30px;
  }
  
  .subscription__quote-text {
    font-size: 20px;
    line-height: 24px;
    width: 360px;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .subscription__form {
    position: relative;
    margin-top: 30px;
  }
  
  .subscription__input {
    background: #e1e1e1;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 23px;
    font-family: Lato;
    color: #222224;
    opacity: 0.67;
    height: 50px;
    width: 80%;
    border-right: none;
  }
  
  .subscription__input:focus,
  .subscription__input:active {
    border: none;
    outline: none;
  }
  
  .subscription__button {
    font-family: Lato;
    background: #f16d7f;
    color: #ffffff;
    height: 50px;
    width: 100px;
    border: none;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    right: 0px;
    transition: 0.3s;
  }

  .subscription__button:hover,
  .subscription__button:focus{
    background-color: purple;
  }

  .subscription__button:active{
    background-color: plum;
  }

  @media (max-width:$tablet-width){

    .subscription{
      background-size: cover;
    }
    .subscription__list{
      flex-direction: column;
    }

    .subscription__sub{
      width: 412px;
    }

    .subscription__qoite{
      margin-top: 64px;
      margin-bottom: 48px;
    }

    .subscription__sub{
      padding-top: 0px;
      padding-bottom: 140px;
    }

    .subscription__quote-text,
    .subscription__sub-text,
    .subscription__sub-head{
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    .subscription__sub-head{
      margin-bottom: 0px;
    }

    .subscription__quote-text-para{
      margin-bottom: 0px;
    }

  }

  @media (max-width:$phone-width){

    

    .subscription__quote{
      padding-top: 64px;
      margin-bottom: 60px;
    }

  

    .subscription__sub{
      padding-bottom: 109px;
      padding-top: 32px;
    }

    .subscription__input{
      border:  0;
    }

    .subscription__form{
      margin-top: 20px;
    }
  }

  @media(min-width:320px){
    .subscription__input {
      width: 85%;
    }
  }

  @media(max-width:407px) {
    .subscription__sub {
      width: 100%;
    }

    .subscription__quote {
      width: 100%;
    }
  }